{% load staticfiles %}

<html>
	<head>
	    <link rel="stylesheet" type="text/css" href="{% static "MeaningBeeApp/css/bootstrap.min.css" %}" />
	    <link rel="stylesheet" type="text/css" href="{% static "MeaningBeeApp/css/site.css" %}" />
	    <link rel="stylesheet" type="text/css" href="{% static "MeaningBeeApp/css/header_footer_theme.css" %}" />
	    <link rel="stylesheet" type="text/css" href="{% static "MeaningBeeApp/css/login_screen.css" %}" />
	    <link rel="stylesheet" type="text/css" href="{% static "MeaningBeeApp/css/button_style.css" %}" />
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="{% static "MeaningBeeApp/js/urlString.js" %}"></script>
	    <script src="{% static "MeaningBeeApp/js/login.js" %}"></script>
	    
	</head>
	
	<body>
	    <nav class="navbar navbar-fixed-top header-theme">
	        <div class="container-fluid">
	            {#Things inside the top pane goes here#}
	        </div>
	    </nav>
	
	    <div class="container body-content">
	        <div class="jumbotron jumbotron-style text-center">
	            <h2>Meaning Bee</h2>
	        </div>
	        
	        <form action="create_post" method="POST" id="login-form"> 
	        {% csrf_token %}
	        <div class="rounded-border div-center" id="border_div">
	            <div class="form-group">
	                <label for="usr">User Name:</label>
	                <input type="text" class="form-control input-text-color" id="username">
	                <label id="username_label" class="validation_error"></label>
	            </div>
	            <div class="form-group">
	                <label for="pwd">Password:</label>
	                <input type="password" class="form-control input-text-color" id="password">
	                <label id="password_label" class="validation_error"></label>
	            </div>
	        </div>
	
	        <div class="row" style="margin-top:20px">
	            <div class="col-md-12 text-center">
	                <button type="submit" value="ok" class="btn btn-default btn-color-default btn-width-small btn-margin-10">Login</button>
	            </div>
	        </div>
	        
	        </form>
	    </div>
	            
	          
	
	    <nav class="navbar navbar-fixed-bottom footer-theme">
	        <div class="container-fluid">
	            {#Things inside the bottom pane goes here#}
	        </div>
	    </nav>
	
	    <script src="{% static "MeaningBeeApp/js/jquery-1.10.2.js" %}" type="text/javascript"></script>
	    <script src="{% static "MeaningBeeApp/js/bootstrap.js" %}" type="text/javascript"></script>	
	</body>
</html>
