.align-centre {
	margin: auto;
    padding-top:200px;
    text-align:center;
}

.btn-color {
	background-color: #37BBF1;
}

.btn-color:hover {
	background-color: #14AEEC;
}

.btn-font-style {
	font-size: x-large;
    font-weight: 300;
    letter-spacing: 1px;
}

.hide {
	display: none;
}

.show {
	display:block;
}
.left {
	float:left;
}
.clearBoth {
	clear:both;
}
.marginLeftTop {
	margin-left: 1%;
    margin-top: 8%;
}