#comment {
	height: 70px;
	margin-top: 10px;
}

.block-dimension {
	height:auto;
	width:580px;
	background-color: rgb(255, 239, 149);
    border-color: rgb(255, 239, 149);
    border-radius:8px;
    word-wrap: break-word;
}

.icon-style {
	font-size:1.5em;
}

.enable-scroll {
	overflow-y: scroll; 
	height:250px;
}

.margin-padding-10 {
	padding:10px;
	margin-bottom: 10px;
}

.align-centre {
	margin: auto;
    padding-top:80px;
    text-align:center;
}

.div-width-600 {
	width:600px;
}

.btn-color {
	background-color: #37BBF1;
}

.btn-color:hover {
	background-color: #14AEEC;
}

.btn-font-style {
	font-size: x-large;
    font-weight: 300;
    letter-spacing: 1px;
}

.hide {
	display: none;
}

.show {
	display:block;
}
.left {
	float:left;
}
.clearBoth {
	clear:both;
}
.marginLeftTop {
	margin-left: 1%;
    margin-top: 8%;
}
